<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <th>Enlace ejercicio</th>
        </tr>
        <tr>
            <td><a href="/ConceptosBasicos1/Ejercicio1">conceptos basicos 1</a></td>
        </tr>
    </table>
</body>
</html>
