<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        table, tr, th, td {
            border: 1px solid black;
        }
    </style>
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <th>Enlace ejercicio</th>
        </tr>
        <tr>
            <td><a href="/ConceptosBasicos1/Ejercicio1">Conceptos basicos 1</a></td>
        </tr>
        <tr>
            <td><a href="/ConceptosBasicos2/Ejercicio2">Conceptos basicos 2</a></td>
        </tr>
        <tr>
            <td><a href="/ConceptosBasicos3/Ejercicio3">Conceptos basicos 3</a></td>
        </tr>
        <tr>
            <td><a href="/Enlaces/Ejercicio4">Enlaces</a></td>
        </tr>
        <tr>
            <td><a href="/Listas/Ejercicio5">Listas</a></td>
        </tr>
        <tr>
            <td><a href="/Tablas1/Ejercicio6">Tablas 1</a></td>
        </tr>
        <tr>
            <td><a href="/Tablas2/Ejercicio7">Tablas 2</a></td>
        </tr>
    </table>
</body>
</html>
