<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejercicio8</title>
</head>
<body>
    <h1> Formulario de registro</h1>
    <form action="/Formularios1/Ejercicio8" method="post">
        <p>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" maxlength="50" />
        </p>
        <p>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" maxlength="50" />
        </p>
        <p>
            <label for="sexo">sexo:</label>
            <input type="radio" id="hombre" name="sexo" value="hombre" />
            <label for="hombre">hombre</label>
            <input type="radio" id="mujer" name="sexo" value="mujer" />
            <label for="mujer">mujer</label>
        </p>
        <p>
            <label for="correo">Correo:</label>
            <input type="text" id="correo" name="correo" />
        </p>
        <p>
            <input type="checkbox" id="ofertas" name="ofertas" checked />
            <label for="ofertas">Deseo recibir información sobre novedades y ofertas</label>
        </p>
        <p>
            <input type="checkbox" id="condiciones" name="condiciones" />
            <label for="condiciones">Declaro haber leido y aceptar las condiciones generales del programa y la normativa sobre protección de datos</label>
        </p>
        <p>
            <input type="submit" value="Enviar">
        </p>
    </form>
</body>
</html>
